<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArmController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ArmController.Properties.Settings>
            <setting name="handMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="handMaxRange" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="handSpeed" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="handEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wristMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wristMaxRange" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="wristSpeed" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="wristEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wristRotateMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wristRotateMaxRange" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="wristRotateSpeed" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="wristRotateEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forearmMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="forearmMaxRange" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="forearmSpeed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="forearmEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="armMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="armMaxRange" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="armSpeed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="armEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shoulderMinRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shoulderMaxRange" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="shoulderSpeed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="shoulderEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IMUCOMPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMUBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMUEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cyberGloveCOMPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cyberGloveBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cyberGloveEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="robotArmCOMPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="robotArmBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="robotArmEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kinectEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cyberGloveDefaultPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </ArmController.Properties.Settings>
    </userSettings>
</configuration>